* {
	margin: 0;
}

header {
	grid-area: header;
	margin: 20px;
	display: flex;
	justify-content: space-between;
}

aside {
	background-color: green;
	grid-area: aside;
}

.main-content {
	background-color: blue;
	grid-area: main;
}

footer {
	background-color: pink;
	grid-area: footer;
}

.container {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 70px 1fr 70px;
	grid-template-areas:
		"header header"
		"aside main"
		"footer footer";
}

.logo {
	color: orange;
	font-size: 2rem;
}

.search {
	font-size: 1.5rem;
	display: flex;
	align-items: center;
}

.input {
	padding: 10px;
	width: 300px;
	margin-right: 20px;
}

i {
	cursor: pointer;
}

.animatedIcon {
	opacity: 0.3;
	padding: 10px;
	border-radius: 50%;
	transition: all 200ms ease-in;
}

.animatedIcon:hover {
	opacity: 1;
	background-color: orange;
}

.dropdown {
	display: none;
	position: absolute;
	right: 10px;
	z-index: 1;
	background-color: white;
}

.dropdown-element {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.dropdown-element:hover {
	background-color: #ccc;
}

.element-danger {
	color: red;
}

.buttons {
	display: flex;
	align-items: center;
}

.paw:hover .dropdown {
	display: block;
}
