aside {
	position: fixed;
	top: 70px;
	display: flex;
	flex-direction: column;
	background-color: #ebebeb;
	grid-area: aside;
	margin-top: 20px;
	height: calc(100vh - 90px);
}

.users {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	max-height: 70vh;
}

.user {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	cursor: pointer;
	padding-left: 20px;
}

.user:hover {
	background-color: #ccc;
}

.user-name:hover {
	color: blue;
}

.user-name {
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.user-info {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.user-avatar {
	background-color: white;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}

.user-avatar img {
	object-fit: contain;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.user-activity {
	display: flex;
	align-items: center;
}

.aside-footer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 246px;
	height: auto;
	margin: auto;
	background-color: #ccc;
	padding: 20px 0;
	margin-bottom: 20px;
	margin-left: 20px;
}

.aside-footer {
	position: sticky;
	bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	width: 100%;
	text-align: center;
}

.pulse {
	margin-right: 5px;
	background-color: red;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	animation: pulse 2s infinite cubic-bezier(1, 1, 0.21, 1.78);
}

.social {
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}

.social i:hover {
	color: blue;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

@media screen and (max-width: 1200px) {
	.user-activity,
	.user-name {
		display: none;
	}

	.container {
		grid-template-columns: 70px 1fr;
	}

	.aside-footer-container {
		display: none;
	}

	.users {
		max-height: 100vh;
	}
}
