.carousel {
	margin: 50px;
	position: relative;
	height: 400px;
	width: 100%;
}

.center-element {
	z-index: 3;
	left: 30%;
	box-shadow: 0px 10px 20px grey;
}

.left-element-1 {
	z-index: 2;
	transform: scale(0.9);
	left: 20%;
	box-shadow: 0px 5px 15px grey;
}
.left-element-2 {
	z-index: 1;
	transform: scale(0.8);
	left: 10%;
	box-shadow: 0px 5px 10px grey;
}

.right-element-1 {
	z-index: 2;
	transform: scale(0.9);
	right: 20%;
	box-shadow: 0px 5px 15px grey;
}

.right-element-2 {
	z-index: 1;
	transform: scale(0.8);
	right: 10%;
	box-shadow: 0px 5px 10px grey;
}

.image img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	height: 400px;
}

.image {
	position: relative;
}

.carousel-element {
	display: flex;
	position: absolute;
	width: 600px;
	height: 100%;
	cursor: pointer;
}

.carousel-description {
	background-color: #ccc;
	height: 400px;
	width: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

.carousel-description .user .user-avatar {
	align-self: flex-start;
}
