* {
	margin: 0;
}

::selection {
	background-color: orange;
	color: white;
}

.main-content {
	grid-area: main;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	margin: 20px;
}

.container {
	position: relative;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 70px 1fr;
	grid-template-areas:
		"header header"
		"aside main";
}

.animatedIcon {
	opacity: 0.3;
	padding: 10px;
	border-radius: 50%;
	transition: all 200ms ease-in;
}

.animatedIcon:hover {
	opacity: 1;
	background-color: orange;
}

.slider {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 20px;
	overflow-x: scroll;
	width: 100%;
	padding-bottom: 20px;
	margin-top: 15px;
}

.slider-element {
	border: 1px solid #bbb;
	border-radius: 20px;
	background-color: #ddd;
	padding: 0 20px;
	white-space: nowrap;
	cursor: pointer;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider-element:first-child {
	background-color: orange;
	color: white;
}

.slider::-webkit-scrollbar {
	display: none;
}

/* .carousel {
	flex: 1;
} */

.content {
	flex: 1;
	width: 100%;
}

.footer {
	margin: 20px 0;
}
