.videos {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
}

.videos .video .image img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	height: 200px;
}

.videos .video .image {
	position: relative;
}

.image-hover {
	display: flex;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	transition: opacity 0.3s ease-in;
}

.image:hover .image-hover {
	opacity: 1;
}

.video-paw-icon {
	color: white;
	font-size: 2rem;
}

.duration-or-viewers {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.live {
	position: absolute;
	top: 5px;
	left: 5px;
	background-color: red;
	color: white;
	padding: 5px;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
	z-index: 1;
}

.description {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.video-title {
	flex: 1;
	display: flex;
	flex-direction: column;
	max-width: 80%;
	margin: 10px;
	cursor: pointer;
}

.video-title h4 {
	margin-bottom: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.video-title h4:hover,
.video-title h5:hover {
	color: blue;
}

.video-title h5 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
